.custom-menu .ant-menu-submenu {
    padding-inline: 12px;
}

.custom-menu .ant-menu-item {
    padding-inline: 12px;
}

.custom-menu .ant-menu-submenu-arrow {
    margin-left: 10px;
}

.ant-menu-horizontal .ant-menu-submenu-arrow {
    display: initial;
}

.ant-menu .ant-menu-submenu-arrow {
    position: relative;
    display: inline-block;
    inset-inline-end: auto;
    background: url('/chevron.svg') no-repeat center center;
    width: 16px;
    height: 16px;
    margin-bottom: -11px;
    margin-left: 7px;
}

.ant-menu-submenu-title {
    height: 30px;
}

.ant-menu .ant-menu-submenu-arrow::before,
.ant-menu .ant-menu-submenu-arrow::after {
    display: none;
}

@media (width >= 64rem) {
    .ant-menu .ant-menu-submenu-arrow {
        height: 17px;
        width: 12px;
        margin-bottom: 3px;
    }

    ul.ant-menu-sub {
        padding: 2px 1px !important;
        border-radius: 8px !important;
        gap: 3px;
        display: flex;
        flex-direction: column;
        min-width: 139px;
    }

    li.ant-menu-item {
        border-radius: 8px !important;
        padding-inline: 12px !important;
    }
}
