.ant-breadcrumb ol {
  overflow: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.ant-breadcrumb-separator svg {
  margin-bottom: 2px;
}

.custom-breadcrumb .ant-breadcrumb-separator {
  margin: 0 10px;
}