span.ant-checkbox-label {
    font-family: 'lato', 'lato Fallback';
}

.ant-checkbox .ant-checkbox-inner {
    background-color: #f6f6f675 !important;
    border-color: #f6f6f675 !important;
    width: 20px !important;
    height: 20px !important;
}

.ant-checkbox-wrapper,
.ant-picker-input-placeholder > input {
    color: #f6f6f6 !important;
}

.ant-checkbox + span {
    padding-inline-end: 0px;
}

/* Desktop Checkbox */
@media (width >= 64rem) {
    span.ant-checkbox-label {
        font-size: 16px;
        height: 22px;
    }

    .ant-checkbox-inner,
    .ant-checkbox-input {
        transform: scale(1.01) !important;
    }
}

/* Desktop Car single Checkbox */
@media (width >= 64rem) {
    .ant-checkbox .ant-checkbox-inner {
        width: 22px;
        height: 22px;
    }

    .ant-checkbox .ant-checkbox-inner:after {
        width: 5.714286px;
        height: 14.142857px;
        top: 42%;
    }
}
