.ant-switch,
.ant-switch:hover:not(.ant-switch-disabled) {
    background-color: #f6f6f675;
}

.ant-switch.ant-switch-checked,
.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background-color: #3c6e71;
}

.ant-tooltip .ant-tooltip-inner {
    padding: 8px 10px;
}

.custom-switch {
  width: 56px !important;
  height: 28px !important;
}

.custom-switch .ant-switch-handle {
  width: 20px !important;
  height: 20px !important;
  top: 4px !important; 
  left: 4px !important;
}

.custom-switch.ant-switch-checked .ant-switch-handle {
  left: calc(100% - 20px - 4px) !important; 
}
