@tailwind base;
@tailwind components;
@tailwind utilities;

/* DARK THEME BY DEFAULT */
:root {
    --background: #142632;
    --foreground: #ededed;
    --text-dark-base: #f6f6f6;
}

/* DARK THEME AUTO */
/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
    color: var(--text-dark-base);
    background: var(--background);
    font-family: var(--font-lato), Arial, Helvetica, sans-serif;
}

svg {
    display: inline-block;
}

a:hover {
    color: #f6f6f675;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 1px;
    height: 4px;
    margin-left: 20px;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f6f6f638;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f6f6f675;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*  scrollbar for Chrome, Safari and Opera */
/* .scrollbar::-webkit-scrollbar {
	display: initial;
} */

/* scrollbar for IE, Edge and Firefox */
/* .scrollbar {
	-ms-overflow-style: initial;
	scrollbar-width: initial;
} */

.bg-globe,
.bg-coatOfArms {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.bg-globe {
    background-image: url('/images/Globe.webp');
}

.bg-coatOfArms {
    background-image: url('/images/coatOfArms.webp');
}

.filters-select {
    @apply h-9 lg:h-11 w-full;
}

.flex-center {
    @apply flex justify-center items-center;
}

.ant-btn-icon {
    display: flex;
    align-items: center;
}

/* Шрифты для antd*/
input,
input::placeholder,
textarea,
textarea::placeholder,
.ant-btn,
.ant-modal-body,
.faq-collapse,
.faq-collapse .ant-collapse-header,
.faq-collapse .ant-collapse-content {
    font-family: var(--font-lato), Arial, Helvetica, sans-serif !important;
}

input::placeholder,
textarea::placeholder {
    color: #f6f6f699;
}
