@tailwind base;
@tailwind components;
@tailwind utilities;

/* DARK THEME BY DEFAULT */
:root {
	--background: #142632;
	--foreground: #ededed;
	--text-dark-base: #f6f6f6;
}

/* DARK THEME AUTO */
/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	color: var(--text-dark-base);
	background: var(--background);
	font-family: var(--font-lato), Arial, Helvetica, sans-serif;
}

svg {
	display: inline-block;
}

/* Mobile Breadcrumbs */
.ant-breadcrumb ol {
	overflow: auto;
	white-space: nowrap;
	flex-wrap: nowrap;
}

.ant-breadcrumb-separator svg {
	margin-bottom: 2px;
}

/* Mobile Car single switch */

.ant-switch,
.ant-switch:hover:not(.ant-switch-disabled) {
	background-color: #f6f6f675;
}

.ant-switch.ant-switch-checked,
.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
	background-color: #3c6e71;
}

/* Mobile Car single picker */
.ant-picker-input > input::placeholder {
	color: #f6f6f666 !important;
}

/* Mobile Car single DatePicker */
.datePicker.ant-picker .ant-picker-input > input {
	margin-bottom: 2px;
}

/* Mobile Tooltip */
.ant-tooltip .ant-tooltip-inner {
	padding: 8px 10px;
}

/* Mobile Car single checkbox mobile */
span.ant-checkbox-label {
	font-family: 'lato', 'lato Fallback';
}

.ant-checkbox .ant-checkbox-inner {
	background-color: #f6f6f675 !important;
	border-color: #f6f6f675 !important;
}

.ant-checkbox-wrapper,
.ant-picker-input-placeholder > input {
	color: #f6f6f6 !important;
}

/* Mobile Car single image slider */
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
	opacity: 1 !important;
}

.slick-next::after,
.slick-prev::after {
	width: 0 !important;
	height: 0 !important;
	border-radius: 0 !important;
	border-block-width: 0 !important;
}

.slick-next,
.slick-prev {
	width: auto !important;
}

.ant-carousel .slick-prev {
	inset-inline-start: 18px;
}

.ant-carousel .slick-next {
	inset-inline-end: 18px;
}

/* Mobile Menu */
.ant-menu-horizontal .ant-menu-submenu-arrow {
	display: initial;
}

.ant-menu .ant-menu-submenu-arrow {
	position: relative;
	display: inline-block;
	inset-inline-end: auto;
	background: url('/chevron.svg') no-repeat center center;
	width: 16px;
	height: 16px;
	margin-bottom: -11px;
	margin-left: 7px;
}

.ant-menu-submenu-title {
	height: 30px;
}

.ant-menu .ant-menu-submenu-arrow::before,
.ant-menu .ant-menu-submenu-arrow::after {
	display: none;
}

/* Mobile Tabs */
.ant-tabs-tab {
	height: 40px;
}

.ant-tabs-tab.ant-tabs-tab-active {
	background: #3c6e71;
	border-radius: 8px;
}

/* Desktop Tabs */
@media (width >= 64rem) {
	.ant-tabs .ant-tabs-tab {
		font-size: 18px;
		padding: 9px 35px;
		height: 44px;
	}

	.ant-tabs .ant-tabs-tab-btn {
		height: 23px;
	}
}

/* Desktop Checkbox */
@media (width >= 64rem) {
	span.ant-checkbox-label {
		font-size: 16px;
		height: 22px;
	}

	.ant-checkbox-inner,
	.ant-checkbox-input {
		transform: scale(1.01) !important;
	}
}

/* Desktop Picker */
@media (width >= 64rem) {
	.ant-picker,
	.timePicker .ant-select-selector,
	.ant-select {
		height: 44px !important;
	}

	.ant-picker.datePicker {
		/* width: 176px !important; */
	}

	.ant-picker.timePicker {
		/* width: 100px !important; */
	}

	.ant-picker .ant-picker-input > input {
		font-size: 16px;
	}
}

/* Desktop Menu */
@media (width >= 64rem) {
	.ant-menu .ant-menu-submenu-arrow {
		height: 17px;
		margin-bottom: 3px;
	}

	ul.ant-menu-sub {
		padding: 2px 1px !important;
		border-radius: 8px !important;
		gap: 3px;
		display: flex;
		flex-direction: column;
		min-width: 139px;
	}

	li.ant-menu-item {
		border-radius: 8px !important;
		padding-inline: 8px !important;
	}
}

/* Desktop Car single Checkbox */
@media (width >= 64rem) {
	.ant-checkbox .ant-checkbox-inner {
		width: 22px;
		height: 22px;
	}

	.ant-checkbox .ant-checkbox-inner:after {
		width: 5.714286px;
		height: 14.142857px;
		top: 42%;
	}
}
