@tailwind base;
@tailwind components;
@tailwind utilities;

/* DARK THEME BY DEFAULT */
:root {
	--background: #142632;
	--foreground: #ededed;
	--text-dark-base: #f6f6f6;
}

/* DARK THEME AUTO */
/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	color: var(--text-dark-base);
	background: var(--background);
	font-family: var(--font-lato), Arial, Helvetica, sans-serif;
}

svg {
	display: inline-block;
}

.ant-breadcrumb ol {
	overflow: auto;
	white-space: nowrap;
	flex-wrap: nowrap;
}

.ant-switch,
.ant-switch:hover:not(.ant-switch-disabled) {
	background-color: #f6f6f675;
}

.ant-switch.ant-switch-checked,
.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
	background-color: #3c6e71;
}

.ant-picker-input > input::placeholder {
	color: #f6f6f666 !important;
}

.ant-select {
	position: relative;
}

.ant-select .ant-select-arrow {
	height: 21px;
	right: 20px;
}

.ant-select-selector {
	padding-left: 16px !important;
}

.ant-checkbox .ant-checkbox-inner {
	background-color: #f6f6f675 !important;
	border-color: #f6f6f675 !important;
}

.ant-checkbox-wrapper,
.ant-picker-input-placeholder > input {
	color: #f6f6f6 !important;
}

.slick-next::after,
.slick-prev::after {
	width: 0 !important;
	height: 0 !important;
	border-radius: 0 !important;
	border-block-width: 0 !important;
}

.slick-next,
.slick-prev {
	width: auto !important;
}

.ant-tabs-tab {
	height: 40px;
}

.ant-tabs-tab.ant-tabs-tab-active {
	background: #3c6e71;
	border-radius: 8px;
}
