.tabs .ant-tabs-tab {
  /* height: 40px; */
}

.tabs .ant-tabs-tab.ant-tabs-tab-active {
  background: #3c6e71;
  border-radius: 12px;
}

.tabs .ant-tabs-tabpane * {
  font-size: 16px;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  opacity: 1 !important;
}

.slick-next::after,
.slick-prev::after {
  width: 0 !important;
  height: 0 !important;
  border-radius: 0 !important;
  border-block-width: 0 !important;
}

.slick-next,
.slick-prev {
  width: auto !important;
}

.ant-carousel .slick-prev {
  inset-inline-start: 18px;
}

.ant-carousel .slick-next {
  inset-inline-end: 18px;
}

@media (width >= 64rem) {
  .ant-tabs .ant-tabs-tab {
    font-size: 18px;
    padding: 9px 28px;
    height: 44px;
  }

  .ant-tabs .ant-tabs-tab-btn {
    height: 23px;
  }

  .ant-tabs-tab.ant-tabs-tab-active {
    border-radius: 16px;
  }

  .ant-tabs-nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #f6f6f638;
    border-radius: 20px;
    padding: 16px;
  }
}